<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
    
    <h3>Hello from Homepage</h3> c
<%=image_tag('small_mario.png') %>

<%= link_to 'about', about_path %> 
     <!--before editing routes its supose to be pages_about_path -->

</body>
</html>